In [1]:
import pandas as pd
import numpy as np
import random
from sklearn import preprocessing

In [2]:
movie_details = pd.read_csv('data/movies_metadata.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ratings = pd.read_csv('data/ratings_small.csv')

In [4]:
predicted = pd.read_csv('ratings2.csv')

In [5]:
movie_details = movie_details[['id','title','budget','popularity','vote_average', 'vote_count']]

In [6]:
ratings = ratings[['userId', 'movieId', 'rating']]

In [7]:
users = np.array(ratings['userId'])
users = np.unique(users)
movies = np.array(ratings['movieId'])
movies = np.unique(movies)
ratings_ij = np.array(ratings['rating'])

In [8]:
m = len(users)
print("Users:", m)

n = len(movies)
print("Movies:", n)

Users: 671
Movies: 9066

In [9]:
movie_map = {}
reverse_map = {}

for i in range(n):
    movie_map[movies[i]] = i+1
    reverse_map[i] = movies[i]

In [10]:
ratings['movieId'] = ratings.apply(lambda x: movie_map[x['movieId']], axis = 1)

In [11]:
movie_details = movie_details[movie_details['id'].str.isnumeric()]

In [12]:
movie_details.head()

,id,title,budget,popularity,vote_average,vote_count
0,862,Toy Story,30000000,21.9469,7.7,5415.0
1,8844,Jumanji,65000000,17.0155,6.9,2413.0
2,15602,Grumpier Old Men,0,11.7129,6.5,92.0
3,31357,Waiting to Exhale,16000000,3.85949,6.1,34.0
4,11862,Father of the Bride Part II,0,8.38752,5.7,173.0

In [13]:
movie_details['id'] = pd.to_numeric(movie_details['id'])

In [14]:
movie_details['movieId'] = movie_details.apply(lambda x: movie_map[x['id']] if x['id'] in movie_map.keys() else 0, axis = 1)

In [15]:
movie_details[movie_details['id'] <100]

,id,title,budget,popularity,vote_average,vote_count,movieId
17,5,Four Rooms,4000000,9.02659,6.5,539.0,5
31,63,Twelve Monkeys,29500000,12.2973,7.4,2470.0,60
212,76,Before Sunrise,2500000,11.305,7.7,984.0,71
256,11,Star Wars,11000000,42.1497,8.1,6778.0,11
351,13,Forrest Gump,55000000,48.3072,8.2,8147.0,13
...,...,...,...,...,...,...,...
11339,86,The Elementary Particles,6000000,11.5525,6.4,34.0,81
11959,35,The Simpsons Movie,75000000,14.3029,6.9,2335.0,34
12947,3,Shadows in Paradise,0,2.29211,7.1,35.0,3
27792,92,Megacities,0,0.406137,7.0,3.0,85
38451,30,Magnetic Rose,0,0.987992,7.9,11.0,30

In [16]:
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1      834     3.0
2       1      860     3.0
3       1      907     2.0
4       1      932     4.0

In [17]:
res1 = ratings.merge(movie_details[['movieId','title','vote_average']], on=['movieId'], how='inner')

In [18]:
res1 = res1.sort_values(by=['userId'])

In [19]:
movie_names = {}
for i in range(len(res1)) : 
    movie_names[res1.iloc[i]['movieId']] = res1.iloc[i]['title']

In [20]:
res1[res1['userId']==5]

       userId  movieId  rating                           title  vote_average
11865       5     1235     3.5                Imagine Me & You           7.0
4199        5      448     4.5                  Reservoir Dogs           8.1
15752       5     1586     1.5                         Hidalgo           6.5
15688       5     1560     3.5                    Two Brothers           6.9
16189       5     3227     4.5                       The Prize           6.4
6721        5      528     4.0           To Kill a Mockingbird           7.9
15092       5     1002     4.0               The Good Shepherd           6.3
12317       5     1531     4.0                   Fools Rush In           5.8
3041        5      329     4.0                  Batman Returns           6.6
16867       5     6516     4.5              Indestructible Man           4.9
9367        5      390     4.0     Aliens vs Predator: Requiem           4.9
3241        5      342     4.0       A Nightmare on Elm Street           7.2
15024       5      653     3.5                  Mrs. Doubtfire           7.0
7734        5     2213     3.5              Young and Innocent           6.8
16593       5     5968     4.5                         Star 80           6.1
5344        5      522     3.5                     Silent Hill           6.3
16498       5     4603     4.0         The Very Thought of You           5.0
15181       5     1132     3.5      The Cave of the Yellow Dog           7.3
12162       5     1524     4.0                My Name Is Bruce           5.9
16844       5     6291     4.0                   The Nomi Song           6.7
8394        5      123     4.0                    Donnie Darko           7.7
15495       5     1391     4.0                 Fahrenheit 9/11           6.9
16356       5     4322     3.0                          Waiter           6.3
13977       5     2219     3.5                  American Pie 2           6.0
16658       5     5974     3.5                House of Dracula           5.8
16437       5     4418     4.0                           Miffo           4.0
710         5      130     4.0                         48 Hrs.           6.5
15358       5     1337     4.0             Mothra vs. Godzilla           6.4
16753       5     6279     4.5                Best Worst Movie           7.4
15287       5     1200     4.5                      Get Carter           6.9
15565       5     1487     4.5   Twin Peaks: Fire Walk with Me           7.3
11616       5     1121     5.0               Gleaming the Cube           5.4
16242       5     3872     4.5                   Boogie Nights           7.5
5087        5      520     4.0                     Wag the Dog           6.7
15998       5     2507     3.5                   The Searchers           7.7
7306        5     1360     4.0                All the Way Boys           6.5
7705        5     2157     4.5                 Tuya's Marriage           7.6
14702       5      310     3.5                Bang, Boom, Bang           7.5
14415       5       97     4.0                    Run Lola Run           7.2
9844        5      696     2.5            Sleepless in Seattle           6.5
15787       5     1867     3.5                   Reign Over Me           7.1
14356       5        3     4.0             Shadows in Paradise           7.1
14509       5      204     3.5                         Syriana           6.3
183         5     1816     4.0  Jay and Silent Bob Strike Back           6.4
14667       5      250     4.5                      Underworld           6.6
14877       5      530     5.0                         Titanic           7.5
15892       5     2005     3.5            The Bourne Supremacy           7.2
16795       5     6290     4.0                   New York Doll           6.8
10044       5      725     3.5                  Cool Hand Luke           7.7
16123       5     2554     3.5                   Battle Royale           7.3
16548       5     5412     4.0           Top of the Food Chain           5.8
10241       5      741     4.0         Blood: The Last Vampire           6.6
16705       5     6117     5.0                  Downhill Racer           6.1

In [21]:
predicted.columns

Index(['Unnamed: 0', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       ...
       '9056', '9057', '9058', '9059', '9060', '9061', '9062', '9063', '9064',
       '9065'],
      dtype='object', length=9067)

In [22]:
predicted.drop(['Unnamed: 0'], axis=1, inplace = True)

In [23]:
predicted = preprocessing.scale(predicted, axis=1)

In [24]:
predicted = predicted + 2.5

In [25]:
predicted.shape

(671, 9066)

In [26]:
def recommendations(user_id):
    preds = np.array(predicted[user_id-1,])
    recoms = preds.argsort()[-50:][::-1]
    recoms = recoms + 1
    titles = [movie_names[i] for i in recoms if i in movie_names]
    return titles[:10]

In [117]:
recommendations(1)

['Throne of Blood',
 'Superman',
 'The Whole Ten Yards',
 'Hairspray',
 'The Wilby Conspiracy',
 'The Vampire Lovers',
 'Blade Runner',
 'Short Sharp Shock',
 'All About My Mother',
 'First Target']

In [118]:
def rated(user_id):
    df = res1[res1['userId']==user_id]
    df = df.sort_values(by=['rating'], ascending = False)
    return df['title'].to_numpy().tolist()[:10]

In [120]:
rated(1)

['American Pie',
 'Rocky III',
 'Confidentially Yours',
 'Jay and Silent Bob Strike Back',
 'My Tutor',
 'Greed']

In [122]:
user = random.randint(1,600)
print (user)
print("Seen :", rated(user))
print("recommended :", recommendations(user))

12
Seen : ['Dark Blue Almost Black', 'Superstar: The Karen Carpenter Story', 'Earth', 'License to Wed', 'The Prisoner of Zenda', 'Battle Royale', 'Live and Let Die', 'Speed 2: Cruise Control', 'Men in Black II', 'The House of the Spirits']
recommended : ['Popular Music', 'To Be or Not to Be', 'Stolen Kisses', 'Superman', '8 Mile', 'Love Is the Devil: Study for a Portrait of Francis Bacon', 'Thelma & Louise', 'Blood Diamond', 'Jurassic Park', 'Monty Python and the Holy Grail']

In [123]:
ratings['predicted'] = ratings.apply(lambda x: predicted[int(x['userId'])-1,int(x['movieId'])-1], axis = 1)

In [124]:
ratings.to_csv('comparison_normalized.csv')

In [ ]:
ratings.head(20)

In [74]:
user = random.randint(1,600)
print (user)
print("Seen :", rated(user))
print("recommended :", recommendations(user))

121
Seen : ['Strange Days', 'Eyes Wide Shut', 'Lili Marleen', 'To Be or Not to Be', 'Three Colors: Red', 'The Dark', 'Aliens vs Predator: Requiem', 'Terminator 3: Rise of the Machines', 'Notorious', 'A River Runs Through It']
recommended : ['Superman', 'Earth', 'To Be or Not to Be', 'Land of Plenty', "Carla's Song", 'The Whole Ten Yards', "Wayne's World 2", 'High and Dizzy', 'The Coast Guard', 'Citizen Kane']